@media screen and (max-width: 765px) {
  .banner_section .logo {
    position: absolute; }
  .banner_section header {
    margin: 0; }
  .banner_section .intro {
    margin-top: 5em; }
    .banner_section .intro h1 {
      font-size: 100px; }

  .join_section {
    text-align: center; }
    .join_section .join_section_items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; } }
* {
  box-sizing: border-box; }

.wrapper {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif; }

.clearfix::after {
  display: table;
  content: "";
  clear: both; }

a {
  text-decoration: none;
  color: #fff; }

.sign_up {
  color: #fff;
  font-size: 1.1em;
  padding: .8em 2em;
  border: 0;
  border-radius: 5px;
  background-color: #4cb953; }
  .sign_up:hover {
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 2px rgba(182, 197, 205, 0.3), 0 1px 0 rgba(0, 0, 0, 0.035), inset 0 -1px 2px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out; }

.banner_section {
  padding-top: 2em;
  text-align: center;
  max-height: 75%;
  background-color: #5e37ca;
  background-image: linear-gradient(to top left, #c7358a, #5e37ca);
  color: white; }
  .banner_section .wrapper header {
    padding: .5em 0; }
    .banner_section .wrapper header .logo {
      float: left;
      margin: 0;
      font-family: cursive;
      font-size: 2.5em;
      margin-top: -0.4em;
      letter-spacing: -5px; }
    .banner_section .wrapper header .navigation {
      margin: 0 auto; }
      .banner_section .wrapper header .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center; }
        .banner_section .wrapper header .navigation ul li {
          list-style: none;
          font-weight: 700;
          color: #fff; }
          .banner_section .wrapper header .navigation ul li a {
            color: #fff;
            text-decoration: none;
            padding: .4em 1em;
            border-radius: 4em;
            font-weight: 700;
            transition: background-color 0.3s ease-in-out; }
            .banner_section .wrapper header .navigation ul li a:hover {
              cursor: pointer;
              background-color: rgba(106, 49, 164, 0.8); }
  .banner_section .wrapper .intro {
    text-align: center;
    margin-top: 6.5em; }
    .banner_section .wrapper .intro h1 {
      font-size: 4.5em;
      letter-spacing: -4px;
      text-shadow: -1px 1px 1px #292727;
      margin: 0;
      text-shadow: 1px 0px 2px black; }
    .banner_section .wrapper .intro p {
      font-size: 1.3em;
      line-height: 1.8em;
      width: 800px;
      max-width: 75%;
      margin: .8em auto; }
  .banner_section .wrapper .slidder {
    margin-top: 5em;
    position: relative;
    max-height: 50em;
    z-index: 5; }
    .banner_section .wrapper .slidder .desktop {
      background-color: #fff;
      z-index: 10;
      text-align: left;
      width: 100%;
      height: 100%;
      border-radius: 8px 8px 0 0;
      overflow: hidden; }
      .banner_section .wrapper .slidder .desktop .desktop_toolsbar {
        background-color: #fff;
        padding: 0.3em 0 0.3em 1.2em;
        border-bottom: 2px solid #dbe3e8;
        border-radius: 8px 8px 0 0; }
        .banner_section .wrapper .slidder .desktop .desktop_toolsbar span {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          margin-right: 4px; }
          .banner_section .wrapper .slidder .desktop .desktop_toolsbar span.red {
            background-color: #ff5d50; }
          .banner_section .wrapper .slidder .desktop .desktop_toolsbar span.yellow {
            background-color: #f9be12; }
          .banner_section .wrapper .slidder .desktop .desktop_toolsbar span.green {
            background-color: #08cb2f; }
      .banner_section .wrapper .slidder .desktop .content {
        text-align: left; }
        .banner_section .wrapper .slidder .desktop .content img {
          display: inline-block;
          margin-bottom: -3px; }
    .banner_section .wrapper .slidder .mobile {
      display: inline-block;
      position: absolute;
      right: 0;
      top: -6%;
      z-index: 15;
      padding: 0 10px;
      background-color: #fff;
      border-radius: 3em 3em 0 0;
      width: 30%;
      box-shadow: -2px -2px 40px rgba(0, 0, 0, 0.2); }
      .banner_section .wrapper .slidder .mobile .tools_bar {
        padding: 30px;
        text-align: center;
        background-color: #fff;
        padding: 1.5em 0 1.5em 0;
        border-radius: 3em 3em 0 0; }
        .banner_section .wrapper .slidder .mobile .tools_bar span {
          display: inline-block; }
        .banner_section .wrapper .slidder .mobile .tools_bar .micro {
          width: 10px;
          height: 10px;
          background-color: #dbe3e8;
          border-radius: 10px; }
        .banner_section .wrapper .slidder .mobile .tools_bar .speaker {
          width: 30%;
          height: 10px;
          width: 60px;
          background-color: #dbe3e8;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px; }
      .banner_section .wrapper .slidder .mobile .content {
        overflow: hidden;
        text-align: center;
        color: #4e5a5f;
        margin: 0 4px;
        border: .8px  #dbe3e8 solid;
        border-radius: 4px 4px 0 0; }
        .banner_section .wrapper .slidder .mobile .content .section_time {
          padding: 15px;
          border-radius: 5px 5px 0 0;
          padding: 5px 0; }
          .banner_section .wrapper .slidder .mobile .content .section_time .time {
            font-weight: 700;
            font-size: 0.8em; }
          .banner_section .wrapper .slidder .mobile .content .section_time .website {
            font-size: 0.8em; }
        .banner_section .wrapper .slidder .mobile .content img {
          display: inline-block;
          max-width: 100%;
          margin-bottom: -3px; }

.join_section {
  padding: 2.5em 0 1.4em 0;
  border-bottom: 1px solid #e9ebec; }
  .join_section .join_paragraph {
    display: inline;
    float: left;
    font-size: 1.4em;
    color: #4f5b60;
    font-weight: 600;
    margin-top: -0.1em; }
  .join_section .sign_up {
    float: right;
    padding: .8em 3em;
    background-color: #4cb953;
    border-bottom: 1px solid #e9ebec;
    padding: 0.8em 3em;
    margin-top: -0.6em;
    font-size: 1.1em;
    font-weight: 700; }

footer {
  padding: 0.8em 0; }
  footer .divers_links .wrapper {
    padding: 0.8em 0; }
    footer .divers_links .wrapper .column {
      float: left;
      max-width: 25%;
      margin: auto auto 1.8em auto;
      width: 50em;
      color: #5e37ca !important; }
      footer .divers_links .wrapper .column a {
        display: inline-block;
        margin: .2em 0;
        color: #5e37ca; }
        footer .divers_links .wrapper .column a.wordpress {
          color: #2d9ed3; }
        footer .divers_links .wrapper .column a.facebook {
          color: #0615e6; }
        footer .divers_links .wrapper .column a.twitter {
          color: #3187e9; }
        footer .divers_links .wrapper .column a.google_plus {
          color: red; }
      footer .divers_links .wrapper .column .wordpress:hover {
        color: #5f11a8; }
      footer .divers_links .wrapper .column .facebook:hover {
        color: #5f11a8; }
      footer .divers_links .wrapper .column .twitter:hover {
        color: #5f11a8; }
      footer .divers_links .wrapper .column .google_plus:hover {
        color: #5f11a8; }
      footer .divers_links .wrapper .column h3 {
        display: inline;
        font-size: .8em;
        text-transform: uppercase;
        font-weight: 700;
        color: #9399a2; }
      footer .divers_links .wrapper .column h1 {
        font-size: 1.2em; }
      footer .divers_links .wrapper .column ul {
        list-style: none;
        display: inline;
        padding: 0; }
        footer .divers_links .wrapper .column ul li {
          line-height: 1.75; }
      footer .divers_links .wrapper .column #title_article {
        font-weight: bold;
        font-size: 1.2em;
        color: #474646; }
      footer .divers_links .wrapper .column article {
        font-size: .9em;
        color: #b3aeae;
        line-height: 1.15em; }
  footer .about {
    border-top: 1px solid #e9ebec;
    padding: 1.2em 0; }
    footer .about ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      footer .about ul li {
        float: left;
        margin-right: 1.8em;
        font-size: 0.9em;
        line-height: 1.15; }
        footer .about ul li a {
          text-decoration: none;
          color: #5e37ca; }
          footer .about ul li a:hover {
            color: #42268f; }
